.avatar {
    height: 75px;
    width: 75px;
    grid-area: avatar;
}

.avatar img {
    height: 100%;
    width: 100%;
    border: 3px solid #3D372D;
    border-radius: 10px;
}

.post {
    display: grid;
    margin: 10px 0;
    grid-template-columns: 1fr 6fr;
    grid-template-areas:
    'avatar message';
}

.post button {
    width: 50px;
    border-radius: 5px;
    height: 25px;
    align-self: end;
}

.postInfo {
    grid-area: message;
    display: grid;
    grid-template-rows: auto auto;
}
